{% extends 'blog/index.html' %}
{% load crispy_forms_tags %}

{% block title %}<title>Create Place - Coffee Review Hub</title>{% endblock title %}


{% block navbar_buttons %}
  {% if user.is_authenticated %}
    <ul class="navbar-nav">
      <li><a class="nav-link" href="{% url 'blog_home' %}">Home</a></li>
      <li><a class="nav-link" href="{% url 'blog_about' %}">About</a></li>
      <li><a class="nav-link active" href="{% url 'blog_places' %}">Reviews</a></li>
      <li><a class="nav-link" href="{% url 'profile' user.id %}">Profile</a></li>
    </ul>
  {% else %}
    <ul class="navbar-nav">
      <li><a class="nav-link active" href="{% url 'blog_about' %}">About</a></li>
    </ul>
  {% endif %}
{% endblock navbar_buttons %}

{% block latest_posts %}
  <!-- Main Content -->
  <main class="container" style="max-width:700px; margin:60px auto;">
    {% block alert_messages %}
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message {{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endblock alert_messages %}
    <h1 style="text-align:center; color:#b23a48; font-family:'Georgia',serif;">
      Create a New Place
    </h1>

    <form method="post" enctype="multipart/form-data" class="form-box">
      {% csrf_token %}
      {{ form|crispy}}
      <p></p>
      <div style="text-align:center; margin-top:20px;">
        <button type="submit" class="btn-primary">Save Place</button>
        <a href="#" class="btn-secondary">Cancel</a>
      </div>
    </form>
  </main>
{% endblock latest_posts %}