{% extends 'users/signin.html' %}
{% load crispy_forms_tags %}

{% block form %}
<div class="container">
  <div class="form-box">
    <h2 class="form-title">Reset Your Password</h2>
    <p class="form-subtitle">
      Enter your account email below and we’ll send you instructions to reset your password.
    </p>

    <form method="post" class="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_email">Reset Password</label>
        {{ form|crispy }}
      </div>
      <p></p>
      <button type="submit" class="btn-primary">Reset Password</button>
    </form>

    <div class="form-footer">
      <p>
        Remembered your password?
        <a href="{% url 'signin' %}" class="link">Back to Sign In</a>
      </p>
    </div>
  </div>
</div>
{% endblock form %}

